@import url('https://fonts.googleapis.com/css?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');

  *{box-sizing: border-box;
  margin: 0;
padding: 0}
.App {
  text-align: center;

}

.App-header {
  background-color: #282c34ce;
  min-height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.App-footer {
  background-color: #282c34ce;
  min-height: 10vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  color: white;
}

div.App{
  background: url("./static/media/kanwa.jpg") repeat;
  background-size: cover;


  width: 100%;
  height: 100vh;
}

h1 {
  font-size: calc(45px + 2vmin);
 font-family: 'Dancing Script', cursive;
  padding: 1%;
  margin: 2px;
}

p {
  font-size: calc(12px + 2vmin);
 font-family: 'Dancing Script', cursive;
  padding: 1%;
  margin: 2px;
  color: white
}

label {
  font-size: calc(12px + 2vmin);
  padding: 1%;
  margin: 2px;
  color: rgb(192, 226, 215);
  font-family: 'Ubuntu', sans-serif;
  font-weight: lighter;
}

.dices-container {
  display: flex;

}

.left, .right{
display: flex;
justify-content: center;
flex-direction: row;
width: 48%;
height: 80%; 
background: #282c348f;  
margin: 50px;  
padding: 20px;
}
.records{
    display: flex;
justify-content: center;
flex-direction: row;
width: 98%;
height: 100%;
position: relative;
font-size: 40px;
flex-wrap: wrap;

}
.one-record{
  display: flex;
width: 80px;
height: 80px;
background: #3cb1198f;  
position: relative;
font-size: 40px;
margin: 3px;
justify-content: center;
align-content: center;
}


input[type="number"] {
  outline-color: rgb(44, 204, 44);
  outline-width: 5px;
  font-size: 24px;
  display: inline-block;

}



/* input select */

input[type=radio] {
  display: none
}



input[type="radio"]+label{
height: 100px;
width: 100px;
display:inline-block;
padding: 0 0 0 0px;
position: relative;
margin:5px;

}
label#k4{
background: url("./static/dice/k4.jpg");
}

label[for="k4"]{
  background: url("./static/dice/k4.jpg");}

label[for="k6"]{
  background: url("./static/dice/k6.jpg");}

label[for="k8"]{
  background: url("./static/dice/k8.jpg");}

label[for="k10"]{
background: url("./static/dice/k10.jpg");}

label[for="k12"]{
background: url("./static/dice/k12.jpg");}

label[for="k20"]{
background: url("./static/dice/k20.jpg");}

label[for="k100"]{
  background: url("./static/dice/k100.jpg");}

input[type="radio"]+label:hover 
{
border-color: rgb(93, 248, 93);
border-style: solid;
}

input[type="submit"] {
  background: rgb(25, 63, 25);
  color: rgb(197, 248, 217);
border: 0;
display: inline-block;
  font-size: 20px;
  padding: 15px;

}

@media all and (min-width:480px) and (max-width:800px) {

.left, .right{
display: flex;
justify-content: space-around;
width: 100%;
height: auto; 
background: #282c348f; 
padding: 1%;
margin: 0;   

}

.dices-container {
  display: block;
}

.App-footer {
  position: relative;
}

label {
  margin: 10px;
}
}