@import url('https://fonts.googleapis.com/css?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');



/* ===========       loader      ======================= */
.loading{
 width: 100%;
 height: 100vh;
 background-image: radial-gradient(farthest-corner at 40px 40px,
      rgb(158, 163, 80) 0%, rgb(58, 50, 27) 100%);
text-align: center;

		padding: 200px 0 0 0;
}

.animation{
    font-size: 200px;
    color: white;
}

#animation {
		animation: rotation 2s infinite linear;
}

@keyframes rotation {
		from {
				transform: rotate(0deg);
		}
		to {
				transform: rotate(359deg);
		}
}


/* =========== main App settings ======================= */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0}


body {
    background-image: radial-gradient(farthest-corner at 40px 40px,
      rgb(158, 163, 80) 0%, rgb(58, 50, 27) 100%);
      height: 100%;
      min-height: 100vh;
}
.green{
  color: green;}

.red {
  color: red
}
.App{
  text-align: center;
}

.App-header {
  background-color: #282c34ce;
  min-height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.App-footer {
  background-color: #282c34ce;
  min-height: 10vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0;
  color: white;
  clear: both;
  position: static;
}

div.App{

  text-align: center;
}

.title__header{
  font-size: calc(45px + 2vmin);
 font-family: 'Dancing Script', cursive;
  padding: 1%;
  margin: 2px;
}

.left, .right{
display: flex;
justify-content: center;
flex-direction: row;
width: 48%;
background: #282c348f;  
margin: 50px;  
padding: 20px;
}

.left {
  height: 100%;
}

/* ====================right============================ */


.warning {
  display: block;
  widows: 100%;
  color: white;
  font-size: calc(15px + 3vh);
}

.par__records {
  font-size: calc(10px + 2vh);
  font-family: 'Ubuntu', sans-serif;
  font-weight: lighter;
  padding: 1%;
  margin: 2px;
  color: rgb(216, 197, 27);
  display: inline-block;
}

/* ====================Dices TYPE=================== */
.dices-container {
  display: flex;
}

label {
  font-size: calc(10px + 2vh);
  padding: 1%;
  margin: 2px;
  color: rgb(192, 226, 215);
  font-family: 'Ubuntu', sans-serif;
  font-weight: lighter;
}

input[type="number"] {
  outline-color:rgb(70, 61, 15);
  outline-width: 5px;
  border: none;
  font-size: 16px;
  display: inline-block;
  padding: 1%
}

input[type=radio] {
  display: none
}

input[type="radio"]+label{
height: 100px;
width: 100px;
display:inline-block;
padding: 0 0 0 0px;
position: relative;
margin:5px;
background-size: cover ;
}

label[for="k4"]{
  background: url("./static/dice/k4.jpg");}

label[for="k6"]{
  background: url("./static/dice/k6.jpg");}

label[for="k8"]{
  background: url("./static/dice/k8.jpg");}

label[for="k10"]{
background: url("./static/dice/k10.jpg");}

label[for="k12"]{
background: url("./static/dice/k12.jpg");}

label[for="k20"]{
background: url("./static/dice/k20.jpg");}

label[for="k100"]{
  background: url("./static/dice/k100.jpg");}


/* dices label */
.k4{
  background: url("./static/dice/k4s.jpg");
  background-size: cover;
}
.k6{
  background: url("./static/dice/k6s.jpg");
  background-size: cover;
}
.k8{
  background: url("./static/dice/k8s.jpg");
    background-size: cover;
  }
.k10{
background: url("./static/dice/k10s.jpg");
  background-size: cover;}

.k12{
background: url("./static/dice/k12s.jpg");
  background-size: cover;}
.k20{
background: url("./static/dice/k20s.jpg");
  background-size: cover;}
.k100{
  background: url("./static/dice/k100s.jpg");
  background-size: cover;
}

/* =======================dices type --- left ==================== */

input[type="radio"]:hover+label 
{
border-color: rgb(70, 61, 15);
border-style: solid;
border-width: 1px;
transition: 0.5s;
}

input[type="radio"]:checked+label{
border:  rgb(70, 61, 15) solid; 
border-radius: 25%;
border-width: 5px;
}

input[type="submit"] {
  background: rgb(25, 63, 25);
  color: rgb(197, 248, 217);
border: 0;
display: inline-block;
  font-size: 20px;
  padding: 15px;
  margin: 15px;
  margin-top: 25px;
border: none;
outline: none;
}

input[type="submit"]:hover:focus:active {
-webkit-box-shadow: 0px 0px 64px 32px rgba(120,158,125,1);
-moz-box-shadow: 0px 0px 64px 32px rgba(120,158,125,1);
box-shadow: 0px 0px 64px 32px rgba(120,158,125,1);
border: rgb(120,158,125);
outline: rgb(120,158,125);

}



/* ======================records================ */


.records {
    display: flex;
justify-content: center;
flex-direction: row;
width: 98%;
/* height: 100%; */
position: relative;
font-size: 40px;
flex-wrap: wrap;
}

.one-record {
  display: flex;
width: 80px;
height: 80px; 
background-size: cover;
position: relative;
font-size: 40px;
margin: 3px;
justify-content: center;
align-content: center;
box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);}






/* ===========------========= media Q ==============--------============ */



@media all and (max-width:1198px) {
div.App{
    position: relative;
}
.left, .right{
display: block;
justify-content: space-around;
width: 100%;
height: auto; 
background: #282c348f; 
margin: 0;   
margin-bottom: 3%;

}

.dices-container {
  display: block;
  margin-bottom: 15px;
}

.par__records {
  font-size: calc(10px + 1vh);
  color: rgb(216, 197, 27);
}
div.par__records p{
  display: inline-block;
  margin: 8px;
}

.warning {
  display: block;
  font-size: calc(10px + 2vh);
}
}


